.card-cont {
    height: 30em;
    width: 25em;
    outline: 2px solid blue;
    margin: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

.card-cont button {
    position: absolute;
    bottom: -1em;
}