.section1 {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.section1 h1 {
    text-align: center;
    color: white;
    font-size: 3em;
}

.section1 .text {
    color: white;
    font-size: 1.4em;
}

.section1 .cont {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr;
    gap: 2em;
    margin: 4em 0;

}

.cont .images-section {
    display: flex;
    width: fit-content;
    gap: .5em;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media(max-width:1200px) {
    .section1 .cont {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

@media(max-width:670px) {
    .section1 h1 {
        font-size: 2em;
    }

    .section1 .text {
        font-size: 1.1em;
        text-align: center;
    }
}