.section-3 {
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;

}


.section-3 h1,
.section-3 p {
    color: white;
    text-align: center;
}

.section-3 p {
    font-size: 1.2em;
}


.section-3 .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}


.section3-card {
    height: 32em;
    width: 18em;
    border-radius: 5px;
    gap: 1em;
    background-color: darkslategray;
}

@media(max-width:1200px) {
    .section3-card {
        height: 22em;
    }

    .section-3 .cards {
        justify-content: center;

    }

}