.section-3 {
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;

}


.section-3 h1,
.section-3 p {
    color: white;
    text-align: center;
}

.section-3 p {
    font-size: 1.2em;
}


.section-3 .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.section3-card {
    height: 32em;
    width: 20em;
    border-radius: 5px;
    background-color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;

}

.section-3 .cards .section3-card img {
    height: 100%;
    border-radius: 40px;
}

@media(max-width:1200px) {
    .section3-card {
        height: 22em;
        width: fit-content;
    }

    .section-3 .cards {
        justify-content: center;

    }

}